.popup__btn-save_disabled {
    background-color: #fff;
    border: 1px solid #000;
    color: #000;
    opacity: .2;
    transition: none;
    cursor: default;
}

.popup__btn-save_disabled:hover {
    opacity: 0.2;
}